<%- include('layout/_head', { title: 'Snake' }) %>
<%- include('layout/_header') %>

<main>
    <div class="snake-wrapper">
        <div class="snake">
            <canvas id="snake" width="608" height="608"></canvas>
        </div>
    </div>
</main>

<%- include('layout/_footer') %>
<%- include('layout/_foot.ejs') %>
